

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}
.home-page{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:2rem;
    width: 80%;
    margin: 2rem auto;
}
 p{
    font-size: 5rem;
    text-align: center;
}
.sign-in{
    background-color: greenyellow;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
}

@media screen and (max-width: 800px) {
    .home-page{
        grid-template-columns: 1fr;
    }
}
